.navbar-hover a:hover {
  color: #f37021 !important;
}

.image-width-100 {
  max-width: 100%;
  height: auto;
}

.small-text {
  font-size: 1vh;
}

.card-image {
  height: 200px; /* Adjust the height as per your requirement */
  object-fit: contain; /* Ensure the image fills the container */
  /* background-color: #e6dfdb; */
}
