.navbar-hover a:hover {
  color: orange !important;
}

.image-width-100 {
  max-width: 100%;
  height: auto;
}

.accordion-image {
  max-width: 100%;
  height: auto;
}

.small-text {
  font-size: 1vh;
}
